<div class="forgotpassword my-5">
    <form [formGroup]="forgotForm" class="w-75 mx-auto" (ngSubmit)="forgotPassword(forgotForm)">
        <label for="email">email</label>
        <input formControlName="email" type="email" id="email" class="form-control">
        <p class="text-success my-3" *ngIf="succesMessage.length >0">{{succesMessage}}</p>
        <p class="text-danger my-3" *ngIf="errMessage.length >0">{{errMessage}}</p>
        <button class="btn bg-main float-end my-3 text-light">send code</button>
    </form>
</div>




<div class="verifyCode my-5 d-none">
    <form [formGroup]="verifyForm" class="w-75 mx-auto" (ngSubmit)="verifyCode(verifyForm)">
        <label for="resetCode">resetCode</label>
        <input formControlName="resetCode" type="email" id="resetCode" class="form-control">
       
        <button class="btn bg-main float-end my-3 text-light">send code</button>
    </form>
</div>

